html,body{
  font-family: Roboto, Arial, Helvetica;
  background-color: #eee;
}

.accordion{
  background: white;
  border-radius:2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.accordion .item{
  padding:7px;
  max-height: 2em;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.accordion .item.active{/*cuando el item tenga la clase active*/
  max-height: 600px;
  overflow-y: scroll;/*si los 600px no son sufifcientes añadimos un scroll*/
}

.accordion .item header{
  min-height: 2em;
  line-height: 2em;
  text-transform: uppercase;/*mayuscula*/
  font-weight: bold;/*negrita*/
  display: flex;/*centrar*/
  align-items: center;/*centrar*/
  padding: 0 0.3em;/*para q no este pegado a la izq*/
  cursor: pointer;
}
