body{
  background-color: #eee;
}
.card{
  background: white;
  border-radius:2px;
  width: 300px;
  height: 400px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.16), 0px 2px 10px rgba(0,0,0,0.12);
}
.heart{
  animation: like 1s forwards;le decimos q queremos una animacion q se llama like con duracion de la animacion*/
                      /*con fordwards nos aseguramos de que mantenga la ultima propiedad linea 30, asi oculta el elemento*/
  animation-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045);/*en aesings.net se ven distintas funciones.asi la animacion se acelera para aparecer y se frenapara desaparecer*/
}

@keyframes like {/*like nombre con el q iniciamos e proceso de animacion q en css se define con @keyframes*/
  0%{/*estos son los fotogramas de la animación*/
    opacity: 0;
    transform: scale(0);
  }
  40%{
    opacity: 1;
    transform: scale(1);
  }
  60%{/*mantenemos scale 1 para q se muestre y no desaparezaca de forma instantanea*/
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0);
  }
}
